*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 20px auto;
    color: white;
    background-color: rgb(110, 108, 108);
    width: fit-content;
    border: solid 1px black;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 10px auto;
    border-top: solid 1px rgb(110, 108, 108);
    border-bottom: solid 1px rgb(110, 108, 108);
}

th, td {
    padding: 20px;
    text-align: left;
}

th {
    background-color: rgb(227, 236, 245);
}

td{
    background-color: aliceblue;
}

tfoot td{
    text-align: center;
    background-color: rgb(110, 108, 108);
    color: white;
} 


 @media screen and (width<=600px){ 
    h1{
        font-size: 20px;
    }
} 